<div class="container">
  <div class="row mb-5">
    <div class="col-md-12">
      <div class="table-container">
        <div class="d-flex justify-content-between">
          <h2 class="h4">Lista de los cursos</h2>
          <div class="d-inline-flex">
            <button routerLink="/dashboard/courses/create" type="button" class="btn-custom btn btn-block ">Crear curso</button>
          </div>
        </div>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>N°</th>
              <th>Nombre</th>
              <th>Fecha Inicio</th>
              <th>Fecha Fin</th>
              <th>Tipo</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            @for (course of courses; track $index) {
            <tr>
              <th scope="row">{{$index+1}}</th>
              <td>
                <a [routerLink]="['/dashboard/courses', course.id, 'show']" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{course.name}}</a>
              </td>
              <td>{{course.startDate | date:'dd-MM-yyyy'}}</td>
              <td>{{course.endDate| date:'dd-MM-yyyy'}}</td>
              @if (course.type=== 'virtual') {
              <td>Virtual</td>
              } @else {
              <td>Presencial</td>
              }
              <td>
                <a [routerLink]="['/dashboard/courses', course.id]" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Editar</a>
                <button (click)="deleteCourse(course.id)" type="button" class="btn link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover ms-2">Eliminar</button>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>