<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <h2 class="h4">Información del Estudiante</h2>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Nombre: {{ user?.name}} {{user?.lastName}} </h5>
          <p class="card-text">Correo Electrónico: <span class="text-primary">{{user?.email}}</span> </p>
          <p class="card-text">Edad: {{user?.age}} </p>
          <p class="card-text">Carnet de Identidad: {{user?.idCard}} </p>
        </div>
      </div>
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary" (click)="openModel()">
        Asignar Cursos
      </button>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-md-6">
      <h2 class="h4">Cursos Inscritos</h2>
      <div class="list-group">
        @for (course of user?.courses; track $index) {
        <a class="list-group-item list-group-item-action">
          <h5 class="mb-1">{{course.name}}</h5>
          <p class="mb-1">Fecha de Inicio: {{course.startDate| date:'dd-MM-yyyy'}}</p>
          <p class="mb-1">Fecha de Finalización: {{course.endDate| date:'dd-MM-yyyy'}}</p>
          <small class="text-muted">Tipo: {{course.type==='virtual'?'Virtual':'Presencial'}}</small>
        </a>
        }@empty {
        <a class="list-group-item list-group-item-action">
          <h5 class="mb-1">No hay cursos</h5>
        </a>
        }
      </div>
    </div>
  </div>
  <app-user-assign-courses />
</div>