<div class="container-md">
  <div class="row mb-3">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <app-card-stats [icon]="iconUser" title="Total estudiantes" total="{{totals?.totalStudents}}" subtitle=" Hasta hoy" />
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <app-card-stats [icon]="iconChalboard" title="Total cursos" total="{{totals?.totalCurses}}" subtitle=" Hasta hoy" />
    </div>
    <!-- Solo Relleno -->
    <div class="col-lg-3 col-md-6 col-sm-6">
      <app-card-stats [icon]="iconTeacher" title="Total profesores" total="10" subtitle=" Hasta hoy" />
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <app-card-stats [icon]="iconUsers" title="Total usuarios" total="100" subtitle=" Hasta hoy" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="card card-stats">
        <div class="card-header">
          <h5 class="card-title">Top 3 cursos populares </h5>
          <p class="card-category">(en 6 Meses)</p>
        </div>
        <div class="card-body">
          <ul class="list-group">
            @for (course of popularCourses; track $index) {
            <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
              <div class="d-flex flex-column">
                <h6 class="mb-1 text-dark font-weight-bold text-sm">{{ course.name }}</h6>
                <span class="text-xs">{{ course.type==='virtual'?'Virtual':'Presencial' }}</span>
              </div>
              <div class="d-flex align-items-center text-sm">
                <span class="badge bg-success">{{ course.students_count }} estudiantes</span>
              </div>
            </li>
            }
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-stats">
        <div class="card-header ">
          <h5 class="card-title">Top 3 estudiantes</h5>
          <p class="card-category">con más cursos</p>
        </div>
        <div class="card-body ">
          <ul class="list-group">
            @for (student of popularStudents; track $index) {
            <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
              <div class="d-flex flex-column">
                <h6 class="mb-1 text-dark font-weight-bold text-sm">{{ student.name }} {{ student.lastname }}</h6>
              </div>
              <div class="d-flex align-items-center text-sm">
                <span class="badge bg-primary">{{ student.courses_count }} cursos</span>
              </div>
            </li>
            }
          </ul>
        </div>

      </div>
    </div>

  </div>
</div>